<a href="https://colab.research.google.com/github/swjee/colab/blob/master/TF_TEST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 파이썬 2와 파이썬 3 지원
from __future__ import division, print_function, unicode_literals

# 공통
import numpy as np
import os

# 일관된 출력을 위해 유사난수 초기화
def reset_graph(seed=42):
    tf.compat.v1.reset_default_graph()
    tf.compat.v1.set_random_seed(seed)
    np.random.seed(seed)

import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [2]:
print (tf.version)

<module 'tensorflow.compat.v1.version' from '/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/compat/v1/version/__init__.py'>

In [0]:
    import time 
    #filename = '/kaggle/input/titanic/'
    def printtm():
      print( 'TIME : ',time.strftime('%Y%m%d%H%M%S',time.localtime()))

In [0]:
reset_graph()
x=tf.Variable(3,name='x')
y=tf.Variable(4,name='x')

def ft_1(x,y):

  z=x+y+10
  return z
r = ft_1( x, y)

In [5]:
init = tf.global_variables_initializer()
with tf.Session() as sess:
  init.run()
  
  x_val,y_val=sess.run([x,y])
  printtm()
  for i in range(1000):
    
    r_val = sess.run(r,feed_dict={x:x_val,y:y_val})
    
    x_val = sess.run(x,feed_dict={x:x_val+i})
    '''print(type(x))'''
  print(x_val,y_val,r_val)
  printtm()

TIME :  20200411012323
499503 4 498518
TIME :  20200411012324

In [6]:


init = tf.global_variables_initializer()
with tf.Session() as sess:
  init.run()
  
  x_val,y_val=sess.run([x,y])
  printtm()
  for i in range(10):
    '''
    r_val = sess.run(r,feed_dict={x:x_val,y:y_val})
    print(x_val,y_val,r_val)
    x_val = sess.run(x,feed_dict={x:x_val+i})
    '''
    
    r_val,x_val,y_val  = sess.run([r,x,y])
    print(x_val,y_val,r_val)
    x = x + i
    ''' make deep re reference..  make terrible performance!! not use as below....'''
    
  print(x_val,y_val,r_val)
  printtm()
  r_val,x_val,y_val  = sess.run([r,x,y])
  print(x_val,y_val,r_val)

TIME :  20200411012324
3 4 17
3 4 17
4 4 17
6 4 17
9 4 17
13 4 17
18 4 17
24 4 17
31 4 17
39 4 17
39 4 17
TIME :  20200411012324
48 4 17

In [7]:

reset_graph()
x=tf.Variable(3,name='x')
y=tf.Variable(4,name='x')

def ft_1(x,y):

  z=x+y+10
  return z
r = ft_1( x, y)  
upop = tf.assign(x,x+1)
init = tf.global_variables_initializer()
with tf.Session() as sess:
  init.run()
  
  x_val,y_val=sess.run([x,y])
  printtm()
  for i in range(1000):
    '''
    r_val = sess.run(r,feed_dict={x:x_val,y:y_val})
    print(x_val,y_val,r_val)
    x_val = sess.run(x,feed_dict={x:x_val+i})
    '''
    
    r_val,x_val,y_val  = sess.run([r,x,y])
    sess.run(upop)
   
    
    
  print(x_val,y_val,r_val)
  printtm()
  r_val,x_val,y_val  = sess.run([r,x,y])
  print(x_val,y_val,r_val)

TIME :  20200411012324
1002 4 1016
TIME :  20200411012325
1003 4 1017

In [8]:
for j in range(10):
  print(j)

0
1
2
3
4
5
6
7
8
9